html { margin: 20px }
body {
  margin: 0 auto;
  font-family: 'Baskerville','Palatino', Georgia, Times, serif;
  font-size: 20px;
  line-height: 30px;
  padding: 15px;
  max-width: 720px;
  position:relative;

}
header, footer, section, article {
	display: block;
}

.date {
  font-style: italic;
  float: right;
  line-height: 43px;
  margin-right: 30px;
}
a {
  color: #b83000;
}
h1 a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
}
pre {
  padding: 20px;
}
blockquote {
  font-style: italic;
}

body > h1 {
  padding:0 0 10px;
  font-size:320%;
  display:block;
	line-height:1;
	margin:0;

  text-shadow: 2px 2px 3px #CCCCCC;
  letter-spacing: 0.05em;
 
	
}
.post {
	margin-bottom:50px;
}

.post p {
  margin:3px 0;  
}

.post h2 {
  margin:20px 0 10px;
}

.back {
  text-align:center;
}

#panel {
  position:absolute;
  right:0;
  top:0;
}

#panel a {
  float:right;  
  margin-left:10px;
  position: relative;
  overflow:hidden;
}

#panel a, #twitter span, #rss span {
  width:50px;
  height:50px;
}

#twitter span, #rss span {
  background:url('/img/twitter.png') left top no-repeat;
  position: absolute;
  left:0;
  top:0;
}

#rss span {
  background:url('/img/rss.png') left top no-repeat;
}

@media screen and (max-device-width: 720px) {
  body {
    padding: 10px
  }

  body > h1 {
    font-size:200%;
  }

  h2 {
    font-size:170%;
  }

}

@media screen and (max-device-width: 480px) {
  body {
    padding: 5px
  }

  body > h1 {
    font-size:170%;
  }

  h2 {
    font-size:150%;
  }

}
