html { margin: 0px; background:#f9f9f9; }

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BebasNeue-webfont.woff') format('woff'),
         url('../font/BebasNeue-webfont.ttf') format('truetype'),
         url('../font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0 auto;
  font-family: 'Baskerville','Palatino', Georgia, Times, serif;
  font-size: 20px;
  line-height: 1.7;
  padding: 45px;
  width:700px;
  position:relative;
  background:#fff url('/img/white_texture.png') left top repeat;
  
  -webkit-box-shadow: 0px 0px 7px #ccc; /* Saf3-4 */
  -moz-box-shadow: 0px 0px 7px #ccc; /* FF3.5 - 3.6 */
  box-shadow: 0px 0px 7px #ccc; /* Opera 10.5, IE9, FF4+, Chrome 10+ */  

}

* > body {
  max-width: 1000px;
}

header, footer, section, article {
	display: block;
}

#article p {
  text-align:justify;
}

.date {
  font-style: italic;
  float: right;
  line-height: 43px;
  margin-right: 30px;
}
a {
  color: #b83000;
}
h1 a {
  color: black;
  text-decoration: none;
}
a:visited {
  text-decoration: underline;
  color:#983000;
}

a:hover, a:active {
  color:#383000; 
  text-decoration:none;
}

code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
}
pre {
  padding: 20px;
}
blockquote {
  font-style: italic;
}

body > h1 {
  padding:0 0 10px;
  font-size:550%;
  display:block;
	line-height:1;
	margin:0;

  text-shadow: 2px 2px 3px #CCCCCC;
  letter-spacing: 0.05em;
 
  font-family:'BebasNeueRegular','Baskerville','Palatino', Georgia, Times, serif;
	
}
.post {
	margin-bottom:80px;
  
}

.post p {
  margin:3px 0;  
  text-align:justify;
}

h2 {
  margin:8px 0;
  font-size:200%;
  font-family:'BebasNeueRegular','Baskerville','Palatino', Georgia, Times, serif;  
  line-height:1.2;
}

.back {
  text-align:center;
}

#panel {
  position:absolute;
  right:10px;
  top:10px;
}

a {
  -webkit-transition: all 0.315s ease-out; 
  -o-transition: all 0.315s ease-out; 
  -moz-transition: all 0.315s ease-out; 
  transition: all 0.315s ease-out;   
}


#panel a {
  float:right;  
  margin-left:0px;
  position: relative;
  overflow:hidden;
  width:50px;
  height:50px;
  background:url('/img/twitter.png') left top no-repeat;
  opacity:0.25;
  outline: 0;
}

#panel a:hover, #panel a:focus, #panel a:active {
  opacity:1;
}

#panel .text {
  display:none;
}

#panel #rss {
  background:url('/img/rss.png') left top no-repeat;
}

#panel a span {
  display:none;
}

.tweet {
  float:right;
  width:200px;
  margin:0 0 20px 10px;
  font-size:60%;
  border-radius:15px;
  box-shadow:inset 0 0 10px #cdcdcd;
  overflow:hidden;
}

.tweet  li {
  display:block;
  list-style:none;
  margin-bottom:1em;
}

.tweet .tweet_list {
  margin:0;
  padding:1em;
}

.tweet .tweet_avatar {
  float:left;
  margin:0 0.5em 0.1em 0;
}

@media screen and (max-width: 720px) {
  body {
    padding: 20px;
    font-size: 17px;
    max-width:700px;
    line-height:1.3;
  }

  body > h1 {
    font-size:200%;
  }

  h2 {
    font-size:160%;
  }

  #panel {
    position:relative;top:0;left:0;
  }

  .tweet {
    display:none;
  }



}

@media screen and (max-width: 480px) {
  body {
    padding: 15px;
    font-size: 16px;
    max-width:470px;
  }

  body > h1 {
    font-size:170%;
  }

  h2 {
    font-size:140%;
  }

  #panel {
    position:relative;top:0;left:0;
  }

  html {
    background:#fff;
  }

  body {

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

  }

  .tweet {
    display:none;
  }

}
