<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
	<title>Gamification.cz - {{ page.title }}</title>
	<meta name="author" content="gamificationcz@gmail.com" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, user-scalable=no">
	<meta name="HandheldFriendly" content="true" />

	<meta itemprop="name" content="{{page.title}}">
	<meta itemprop="description" content="{{page.description}}">
	<meta itemprop="image" content="http://gamification.cz/img/g.png">

	<link href="http://feeds.feedburner.com/Gamificationcz" rel="alternate" title="RSS" type="application/rss+xml" />
	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="http://gamification.cz/atom.xml" />

	<link rel="stylesheet" media="screen" href="/css/style.css" >
	<script type="text/javascript">

	      var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', 'UA-151490-13']);
	      _gaq.push(['_trackPageview']);

	      (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	      })();

	    </script>
</head>

<body>
<h1>Gamification.cz</h1>
<div id="pages">
	{{ content }}	
</div>

<div id="panel">
	<a href="http://feeds.feedburner.com/Gamificationcz" id="rss"><span>RSS</span></a>
	<a href="http://twitter.com/gamificationcz" id="twitter"><span>Twitter</span></a>
</div>

</body>
</html>